/*-- scss:uses --*/

@use 'default-var' with (
  $background-image: url("../../../../../img/Layout/BCW-Gruppe-background.png"),
  $kapitel-bg: #727D86,
  $kapitel-number-bg: #2a2458,
  $border-color-left: #2a2458,
  $border-color-right: #2a2458,
/*
 * Einstellungen für die Kopfzeile (normal und für Übungen)
 */
  $kopfzeilen-image: url("../../../../../img/Layout/BCW-Gruppe-kopfzeile.png"),
  $kopfzeilen-uebungs-image: url("../../../../../img/Layout/BCW-Gruppe-kopfzeile-uebung.png"),
  /*
   * Einstellungen für das Inhaltsverzeichnis
   */
  $toc-light-bc: #E8E8EA,
  $toc-border-color:  #2a2458
);

@use 'fom-lib';
