/*-- scss:uses --*/

@use 'default-var' with (
  $kapitel-bg: #727D86,
  $kapitel-number-bg: #E16E38,
  $border-color-left: #E16E38,
  $border-color-right: #E16E38,

 /*
  * Einstellungen für den Hintergrund der Titelseite
  */
  $background-image: url("../../../../../img/Layout/BCW-Weiterbildung-background.png"),
  $background-logo-image: url(../../../../../img/Layout/BCW-Weiterbildung-logo.png),
  $background-logo-size: 90px 90px,

 /*
  * Einstellungen für die Kopfzeilen (norman und Übung)
  */
  $kopfzeilen-image: url("../../../../../img/Layout/BCW-Weiterbildung-kopfzeile.png"),
  $kopfzeilen-uebungs-image: url("../../../../../img/Layout/BCW-Weiterbildung-kopfzeile-uebung.png"),

  /*
   * Einstellungen für das Inhaltsverzeichnis
   */
  $toc-light-bc: #EEE7E7,
  $toc-border-color:  #E16E38
);

@use 'fom-lib';
